@CHARSET "UTF-8";

/*definiert das Layout des menüs */


.gwt-MenuBar {
	color: #737373;
	font-family: Open Sans;
	position: absolute;
	right: 5%;
	
	padding-top: 74px;
}

.gwt-MenuItem  {
	color: #737373;
	padding: 2px;
	cursor: pointer;
	font-family: Open Sans;
  	width: 65px;
  	-webkit-transition-duration: 0.4s; /* Safari */
	display: inline-block;
}

.gwt-MenuItem:hover {
	color: #F3748F;
}

.profileItem {
	border-radius: 4px;
	width: 120px;
	background-color: #F2F2F2;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}



